modules = ["nodejs-20", "python-3.11", "postgresql-16", "python3", "dotnet-8"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "dotnet-sdk_8"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DotNetServer"

[[workflows.workflow]]
name = "DotNetServer"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39651
externalPort = 3000

[[ports]]
localPort = 41957
externalPort = 3002

[[ports]]
localPort = 46561
externalPort = 3001

[deployment]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
